.part1{
  background-color: #2980B9;
}
.part2{
  background-color: #A011A0;
}
.part3{
  background-color: #FF0066;
}
.legend1{
  background-color: #2980B9;
}
.legend2{
  background-color: #A011A0;
}
.legend3{
  background-color: #FF0066;
}
